# Core packages used in the codebase
numpy>=1.21.0,<1.24.0
opencv-python==4.8.1.78
scipy>=1.9.0,<1.11.0
scikit-image<0.20.0
tensorflow>=2.10.0
h5py
matplotlib~=3.7.2
Pillow
python-dotenv~=0.21.0

# Git dependencies
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI

# needed for ByteTrack
torch>=1.7
loguru
tqdm
torchvision>=0.10.0
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
cython_bbox
onnx==1.8.1
onnxruntime==1.8.0
onnx-simplifier==0.3.5